.person {
  border: 1px solid #9b4dca;
  border-radius: 0.4rem;
  margin-bottom: 10px;

  .image {
    position: relative;
    margin: 10px -10px 0 0;
    border-radius: 0.4rem
  }

  .menu {
    button {
      margin-right: 2px;
    }
  }
}

.loading {
  height: 100%;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  margin-top: 50%;
}

.cam-container {
  position: absolute;
  background-color: rgba(102, 102, 102, 0.85);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;

  &.hidden {
    display: none;
  }

  .cam {
    background-color: white;
    border: 1px solid #9b4dca;
    padding: 15px;
    border-radius: 0.4rem;
    margin-bottom: 10px;

    position: relative;

    video {
      margin-right: 10px;
    }

    .rect {
      position: absolute;
      top: 5%;
      left: 5%;
      border: 5px solid yellow;
      height: 150px;
      width: 110px;
      z-index: 99;
    }

    .menu {

      margin-bottom: 5px;
      margin-top: 5px;

      button {
        margin-right: 2px;
      }
    }
  }
}

.calc {
  display: none;
  border: 1px solid #9b4dca;
  border-radius: 0.4rem;
  margin-bottom: 10px;
  padding: 5px;

  button {
    margin-right: 2px;
  }

  input {
    width: 20%;
  }
}